.parent4{
    margin-top: 175px;
}
.row{
    justify-content: center;
}

.title4{
    padding-right: 8px;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 125%;
    
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    
    color: #292F36;
}
.description4{
    padding-right: 45px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    
    color: #4D5053;
}
.callSection{
    display: flex;
    flex-direction: row;
    margin-top: 45px;
}
.callVector{
    width: 93px;
    height: 93px;
    padding: 5px;

}
.phonetext{
    padding: 0px 0px;
}
.phoneNumber{
    font-family: 'Jost';
    font-weight: 700;
    font-size: 24px;
    font-style: normal;
    line-height: 150%;
    
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    
    color: #4D5053;
    
}
.callUs{

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    
    color: #4D5053;
}
.btn{
    color: whitesmoke;
    border-style: groove;
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 18px;

    gap: 5px;

;
    background: #292F36;
    box-shadow: 0px 10px 20px rgba(192, 192, 192, 0.35);
    border-radius: 14px;

}
.comp4Img{
   height: auto;
   max-width: 100%;

    border-top-right-radius: 50% 50%;
    border-bottom-left-radius: 80px ;
}
