.intro{
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    color: #292F36;
}

.rowForLogo{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 80px;
    margin-bottom: 18px;
}
.btnsBar{
}
.nav-link{
    font-size: 17px;
    font-family: 'jost';
    font-weight: 500;
    margin-left: 25px;
}
.search-icon{
    width: 19px;
    height: 19px;
}