.parent6{
    margin-top: 180px;
}
.topside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article{
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #292F36;
}
.description6{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    
    color: #4D5053;
}


/****/
.cardsComp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.displaySideBox{
    margin: 8px;
    padding: 16px;
    border-style: solid;
    border-color:   #eee;
    border-radius: 40px;
}

.content{
    margin: 11px;
}
.kitchan{
    width: 100%;
    border-top-left-radius: 12%;
    border-top-right-radius: 12%;
}
h3{
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 125%;

    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #292F36;
}
.lastline{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 45px;
    
}
.date{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-top: 20px;
    
    font-family: 'Jost';
    text-transform: capitalize;
    color: #4D5053;
}
.arrowBtn{
    /* width: 14%;
    height: 14%;
    margin-top: 8px; */
}