.main-parent2{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.parent2{
   display: flex;
   flex-direction: row;
   width: 70%;

}
.container2{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    margin-top: 150px;
}
.description{
    width: 70%;
    font-family: Jost;
    font-size: 15px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: center;
}
.btnPart{
    display: flex;
    flex-direction: row;
}

.arrowVector{
    margin-top: 6px;
    width: 14px;
    height: 14px;
}
@media screen and (max-width: 710px){

}   

@media screen and (max-width: 510px){
}